.sys-body,
.sys-body td,
.sys-body th {
    font-size: 1pc
}

.sys-body table.uploadTable td,
.sys-body table.uploadTable th {
    padding: 10px;
    border: 1px solid #000;
    width: 16%
}

.sys-body {
    background: #FFF;
    padding: 30px 0
}

.sys-body a {
    text-decoration: none
}

.sys-body input {
    border: none
}

.sys-body .sp {
    display: none
}

.sys-body #containerTop {
    background: url(../images/bodyBg.png) repeat-x
}

.sys-body #containerWrap {
    background: url(../images/bodyBg2.png) repeat-x;
    position: relative
}

.sys-body #container {
    width: 980px;
    padding: 0 10px;
    overflow: hidden;
    margin: 0 auto 3em
}

.sys-body #content,
.sys-body #contentTop {
    overflow: hidden;
    margin: 0 auto;
    width: 10in;
    clear: both
}

.sys-body #content {
    padding: 0
}

.sys-body #main {
    float: left;
    width: 725px
}

.sys-body #sub {
    float: right;
    width: 250px
}

.sys-body #breadcrumbList {
    margin-bottom: 15px;
    font-size: 100%
}

.sys-body .wp-pagenavi {
    clear: both;
    padding: 15px 0!important
}

.sys-body .secound {
    clear: both;
    width: 10in;
    margin: 0 auto;
    height: 90px;
    background: url(../images/secoundBg.png) no-repeat;
    padding-bottom: 25px
}

.sys-body .section,
.sys-body .sectionC {
    margin-bottom: 2em;
    overflow: hidden;
    clear: both
}

.sys-body .sectionC {
    text-align: center
}

.sys-body .leftCol {
    float: left;
    padding: 10px;
    width: 265px
}

.sys-body .rightCol {
    float: right;
    padding: 10px;
    width: 540px
}

.sys-body .leftBox {
    float: left;
    margin: 0;
    width: 460px
}

.sys-body .rightBox {
    width: 250px;
    float: right;
    margin: 0
}

.sys-body .ate {
    padding: 15px;
    border: 1px solid #1d1d1d;
    margin-bottom: 15px
}

.sys-body .box {
    padding: 15px;
    background: #f7f7f7
}

.sys-body .mainImg {
    width: 100%
}

.sys-body article {
    overflow: hidden
}

.sys-body .photoL p,
.sys-body .photoR p {
    overflow: auto
}

.sys-body h1 {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 185%;
    color: #a17d46;
    font-family: Marcellus SC, serif
}

.sys-body h1.mainTi {
    margin-bottom: 35px;
    padding: 8px 10px;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    font-size: 185%;
    background: #fff;
    text-align: center
}

.sys-body h2.mainTi {
    margin-bottom: 15px;
    font-size: 129%;
    padding: 10px;
    background: #666;
    color: #fff;
    font-weight: 700;
    margin-top: 10px
}

.sys-body h2.mainTi5,
.sys-body h2.subTi {
    color: #c60;
    line-height: 45px;
    font-family: Droid Serif, serif;
    font-weight: 700
}

.sys-body h2.subTi {
    font-size: 28px
}

.sys-body h2.mainTi5 {
    font-size: 2pc;
    margin-bottom: 20px
}

.sys-body h3.mainTi {
    margin-bottom: 20px;
    font-size: 138.5%;
    border-bottom: 1px solid #3a2714;
    padding: 10px 0 5px
}

.sys-body h3.mainTi3 {
    color: #000;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    font-weight: 700;
    font-size: 2pc;
    line-height: 45px;
    font-family: Droid Serif, serif;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 0
}

.sys-body h3.mainTi5 {
    font-size: 18px;
    border-left: 3px solid #111;
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-bottom: 10px
}

.sys-body h3.mainTi4 {
    text-align: center;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background: #e7e7e7;
    margin-bottom: 20px;
    padding: 20px 0;
    font-weight: 700;
    font-size: 18px
}

.sys-body h3.subTi {
    font-weight: 700;
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 20px;
    color: #c60;
    font-family: Droid Serif, serif
}

.sys-body h3.widget-title {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 100%;
    background: #000;
    color: #fff
}

.sys-body h4.mainTi {
    color: #111;
    font-size: 123.1%;
    margin-bottom: 15px;
    font-weight: 700
}

.sys-body h4.mainTi2 {
    text-align: center;
    border-bottom: 1px dotted #000;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 18px
}

.sys-body h4.mainTi3 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1pc
}

.sys-body h4.subTi {
    font-weight: 700;
    font-size: 116%
}

.sys-body .point {
    text-decoration: underline;
    font-weight: 700
}

.sys-body .alignleft {
    float: left;
    padding: 0 15px 15px 0
}

.sys-body .alignright {
    float: right;
    padding: 0 0 15px 15px
}

.sys-body .aligncenter {
    display: block;
    margin: 0 auto
}

.sys-body .photoL {
    float: left;
    padding: 0 10px 5px 0
}

.sys-body .photoR {
    float: right;
    padding: 0 0 15px 15px
}

.sys-body .map {
    padding-bottom: 15px
}

.sys-body .btn {
    float: right;
    padding: 10px 0
}

.sys-body .tel {
    font-size: 124%;
    color: #111
}

.sys-body .name {
    font-size: 129%;
    font-weight: 700;
    font-family: Droid Serif, serif;
    padding-bottom: 5px
}

.sys-body .disc {
    padding-bottom: 0;
    font-size: 10px;
    line-height: 1.6em
}

.sys-body .more {
    float: right;
    padding: 10px 15px;
    text-align: center
}

.sys-body .hr {
    clear: both;
    height: 1px;
    margin: 1em 0;
    border-top: #999 1px dotted
}

.sys-body .bold {
    font-weight: 700;
    font-size: 108%;
    padding-bottom: 10px
}

.sys-body .day {
    font-size: 77%;
    font-family: Economica
}

.sys-body .priceMini {
    font-size: 77%;
    text-align: right
}

.sys-body .imgTi {
    margin-bottom: 15px
}

.sys-body .imgTi0 {
    margin-bottom: 0
}

.sys-body .imgTi5 {
    padding-bottom: 5px
}

.sys-body .imgTi10 {
    padding-bottom: 10px
}

.sys-body .imgTi15 {
    padding-bottom: 15px
}

.sys-body .imgTi20 {
    padding-bottom: 20px
}

.sys-body header {
    width: 100%;
    text-align: left;
    height: 90pt;
    overflow: hidden;
    margin-bottom: 0
}

.sys-body #header {
    background: url(../images/logo.png) left bottom no-repeat;
    width: 10in;
    margin: 0 auto;
    padding-top: 50px;
    height: 70px;
    position: relative
}

.sys-body ul.hNavi {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 72%
}

.sys-body ul.hNavi li {
    float: left
}

.sys-body ul.bnrList {
    margin-bottom: 15px;
    font-size: 9pt;
    line-height: 20px
}

.sys-body ul.bnrList li {
    padding-bottom: 15px
}

.sys-body ul.bnrList li img {
    vertical-align: bottom;
    margin-bottom: 5px
}

.sys-body ul.basicList {
    margin-bottom: 2em
}

.sys-body ul.basicList li {
    padding: 0 0 5px 20px;
    background: url(migi3.png) 0 3px no-repeat;
    margin-bottom: 5px
}

.sys-body ul.topPhoto {
    clear: both;
    overflow: hidden;
    width: 750px;
    margin-right: -25px
}

.sys-body ul.topPhoto li {
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
    width: 350px
}

.sys-body ul.topPhoto li img {
    width: 350px;
    height: auto
}

.sys-body ul.photo {
    clear: both;
    overflow: hidden;
    width: 742px;
    margin-right: -22px
}

.sys-body ul.photo li {
    float: left;
    margin-right: 22px;
    margin-bottom: 20px;
    width: 200px
}

.sys-body ul.photo li img {
    width: 200px;
    height: auto
}

.sys-body ul.photo2 {
    clear: both;
    width: 742px;
    overflow: hidden;
    margin-right: -22px
}

.sys-body ul.photo2 li {
    float: left;
    margin-right: 22px;
    margin-bottom: 20px;
    width: 150px
}

.sys-body ul.photo2 li img {
    width: 150px;
    height: auto
}

.sys-body ul.topMenu {
    width: 10in;
    height: 15pc;
    clear: both;
    padding-left: 20px;
    padding-bottom: 10px
}

.sys-body ul.topMenu li {
    width: 265px;
    min-height: 15pc;
    display: block;
    float: left;
    padding-left: 25px;
    padding-right: 40px
}

.sys-body ul.fNavi li,
.sys-body ul.snsList li {
    display: inline;
    padding: 0 10px
}

.sys-body ul.snsList {
    text-align: center;
    margin-bottom: 60px
}

.sys-body ul.fNavi {
    margin-bottom: 30px;
    text-align: center
}

.sys-body ul.fNavi li {
    border-right: 1px solid #fff
}

.sys-body ul.fNavi li a:link,
.sys-body ul.fNavi li a:visited {
    color: #fff
}

.sys-body ul.fNavi li a:hover {
    color: #d3ad90
}

.sys-body ul.fNavi li.lastChild {
    border-right: none
}

.sys-body ul.submitList {
    text-align: center;
    overflow: hidden;
    margin: 30px 0;
    padding: 0
}

.sys-body ul.submitList li {
    display: inline-block;
    font-size: 1pc;
    margin: 0 5px
}

.sys-body ul.submitList li input:hover {
    text-decoration: none;
    color: #fff
}

.sys-body ul.creditList {
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    clear: both
}

.sys-body ul.creditList li {
    display: inline
}

.sys-body ul.creditList li img {
    height: 50px;
    width: auto
}

.sys-body ul.tabs {
    list-style: none;
    width: 100%
}

.sys-body ul.tabs li {
    float: left;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #eee
}

.sys-body ul.tabs li:first-child {
    border-left: 1px solid #ccc
}

.sys-body ul.tabs li.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    margin-bottom: -1px
}

.sys-body ul.tabs li.active a {
    font-weight: 600;
    color: #000
}

.sys-body ul.tabs li a {
    display: block;
    padding: 5px 10px;
    color: #777;
    letter-spacing: -1px;
    outline: 0;
    text-decoration: none;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
}

.sys-body ul.menu li a {
    width: 215px;
    padding: 8px 15px 8px 20px;
    background: url(dot1.png) 0 10px no-repeat;
    display: block;
    border-bottom: 1px dotted #604c3f;
    margin-top: -1px;
    font-size: 100%
}

.sys-body ul.menu li a:hover {
    text-decoration: none;
    background: #111;
    color: #fff
}

.sys-body ul.blogList li {
    padding-bottom: 8px;
    border-bottom: 1px dotted #666;
    margin-bottom: 8px;
    padding-left: 10px;
    background: url(migi2.gif) 0 6px no-repeat
}

.sys-body ul.infoList li {
    padding-bottom: 8px;
    padding-left: 15px;
    margin-bottom: 8px;
    background: url(migi1.gif) 0 5px no-repeat;
    border-bottom: 1px dotted #604c3f
}

.sys-body ul.contactform li {
    float: left
}

.sys-body #jMenu {
    width: 1001px;
    margin: 0 auto 21px;
    clear: both;
    height: 50px;
    font-size: 13px
}

.sys-body #jMenu li {
    float: left
}

.sys-body #jMenu li ul {
    position: absolute;
    z-index: 100;
    background: rgba(117, 23, 30, .7);
    display: none;
    padding: 10px;
    width: 300px!important
}

.sys-body #jMenu li ul li {
    border-bottom: 1px solid #fff;
    padding: 10px;
    float: none
}

.sys-body #jMenu li ul li a {
    display: block
}

.sys-body #jMenu li ul li a:link,
.sys-body #jMenu li ul li a:visited {
    color: #fff
}

.sys-body #jMenu li ul li a:hover {
    text-decoration: none;
    color: #fff
}

.sys-body .basicTable {
    margin-bottom: 2em;
    width: 100%
}

.sys-body .basicTable th {
    padding: 3%;
    width: 34%;
    border-bottom: #000 solid 2px;
    background: #f5f5f5;
    font-weight: 700;
    text-align: left
}

.sys-body .basicTable td {
    padding: 3%;
    width: 54%;
    border-bottom: 1px #000 solid;
    text-align: left;
    vertical-align: top
}

.sys-body .basicTable2 {
    margin-bottom: 2em;
    width: 100%;
    border: 1px solid #e7e7e7
}

.sys-body .basicTable2 th {
    padding: 3%;
    width: 34%;
    border-bottom: 3px #e7e7e7 solid;
    font-weight: 700;
    text-align: left
}

.sys-body .basicTable2 td {
    padding: 3%;
    width: 54%;
    border-bottom: 1px #e7e7e7 solid;
    text-align: left;
    vertical-align: top
}

.sys-body .basicTable3 {
    margin-bottom: 2em;
    width: 100%;
    border: 1px solid #e7e7e7
}

.sys-body .basicTable3 th {
    padding: 3%;
    width: 19%;
    border-bottom: 3px #e7e7e7 solid;
    font-weight: 700;
    text-align: left
}

.sys-body .basicTable3 td {
    padding: 3%;
    width: 34%;
    border-bottom: 1px #e7e7e7 solid;
    text-align: left;
    vertical-align: top
}

.sys-body table.menuTable {
    margin-bottom: 2em
}

.sys-body table.menuTable th {
    padding: 3%;
    width: 24%
}

.sys-body table.menuTable td {
    padding: 3%;
    width: 14%
}

.sys-body table.input_table {
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #000
}

.sys-body table.input_table th {
    padding: 2%;
    border-bottom: 1px solid #000;
    text-align: left;
    width: 340px
}

.sys-body table.input_table th.noborder {
    border: none
}

.sys-body table.input_table td {
    padding: 2%;
    border-bottom: 1px solid #000
}

.sys-body table.input_table td.noborder {
    border: none
}

.sys-body table.input_table td input {
    padding: 15px;
    font-size: 20px;
    color: #7e7e7e;
    background: #ededed
}

.sys-body table.input_table td input[type=text] {
    width: 100%
}

.sys-body table.uploadTable {
    margin-bottom: 10px;
    border: 1px solid #000;
    width: 100%
}

.sys-body table.uploadTable th {
    background: #eee
}

.sys-body table.add_apply {
    margin-bottom: 15px
}

.sys-body table.contactform {
    margin-bottom: 2em;
    width: 100%;
    border: 1px solid #e7e7e7
}

.sys-body table.contactform th {
    padding: 8px;
    width: 35%;
    border: solid #e7e7e7;
    border-width: 0 0 1px 1px;
    background: #f5f5f5;
    font-weight: 700;
    text-align: left
}

.sys-body table.contactform td {
    padding: 8px;
    width: 60%;
    border: 1px solid #e7e7e7;
    border-width: 0 0 1px 1px;
    text-align: left;
    vertical-align: top
}

.sys-body dl.basicList {
    margin-bottom: 2em;
    width: 100%
}

.sys-body dl.basicList dt {
    clear: left;
    float: left;
    margin: 0 0 .8em;
    width: 12.5em;
    border-left: solid 2px #ccc;
    padding-left: 5px;
    overflow: hidden;
    color: #000
}

.sys-body dl.basicList dd {
    margin-bottom: .8em;
    margin-left: 12.5em;
    overflow: hidden
}

.sys-body dl.menuList {
    width: 265px;
    height: 15pc
}

.sys-body dl.menuList dt {
    width: 265px;
    padding-bottom: 5px
}

.sys-body dl.menuList dd {
    width: 265px;
    padding-bottom: 15px;
    text-align: left;
    line-height: 1.6em
}

.sys-body dl.prof {
    overflow: hidden
}

.sys-body dl.prof dt {
    width: 5pc;
    margin-right: 10px;
    float: left
}

.sys-body dl.prof dt img {
    width: 100%;
    height: auto
}

.sys-body #topMain {
    width: 1050px;
    background: url(../images/shadow.png) bottom no-repeat;
    padding-bottom: 1em;
    margin: auto
}

.sys-body .sideSection {
    width: 100%;
    margin-bottom: 20px
}

.sys-body .sideContact {
    text-align: center
}

.sys-body #footerWrap {
    clear: both;
    width: 100%;
    background: url(../images/footerBg.png) repeat-x;
    padding: 25px 0 15px;
    height: 290px;
    text-align: center
}

.sys-body #footer {
    text-align: left;
    letter-spacing: 0;
    margin: 0 auto;
    width: 10in
}

.sys-body .copy {
    clear: both;
    color: #fff;
    text-align: center;
    font-size: 92%
}

.sys-body .qr {
    text-align: right;
    width: 5pc;
    height: 5pc;
    float: right
}

.sys-body span.headline {
    font-weight: 700;
    font-size: 14px;
    color: #c90
}

.sys-body span.logonBtn {
    background: #fff;
    font-size: 1pc;
    padding: 18px 0;
    border: 2px solid #000;
    color: #000
}

.sys-body span.logonBtn:hover {
    color: #000!important
}

.sys-body .y {
    color: #c90
}

.sys-body .b {
    color: #369
}

.sys-body .o {
    color: #c60
}

.sys-body .size10 {
    font-size: 84%
}

.sys-body .size14 {
    font-size: 117%
}

.sys-body .size18 {
    font-size: 150%
}

.sys-body .pd0 {
    padding: 0
}

.sys-body .registerWrap {
    background: #000;
    opacity: .8;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50
}

.sys-body #regist_form {
    margin: 50px auto 0;
    width: 10in
}

.sys-body .registerP {
    position: absolute;
    top: 25pc;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    color: #fff;
    width: 500px;
    text-align: center;
    height: 1.6em;
    font-size: 172%
}

.sys-body .loginTable {
    width: 10in;
    margin: auto
}

.sys-body .loginTable td.left {
    vertical-align: top;
    width: 20pc;
    padding-right: 30px;
    padding-top: 0;
    border-right: 1px solid gray;
    text-align: center
}

.sys-body .loginTable td.right {
    width: 630px;
    padding-left: 25px
}

.sys-body .loginTable td.right div {
    margin-bottom: 15px
}

.sys-body .loginTable td a:hover {
    text-decoration: none
}

.sys-body .loginTable td a:hover span {
    color: #fff
}

.sys-body .loginBtn {
    background: #282828;
    font-size: 18px;
    padding: 1pc 114px;
    color: #ddd;
    border: none;
    font-weight: 700
}

.sys-body .loginBtn:hover {
    color: #fff
}

.sys-body div.tabs_content {
    width: 718px;
    border: 1px solid #ccc
}

.sys-body div.tabs_content>div {
    padding: 20px
}

.sys-body .backBtn,
.sys-body .submitBtn {
    font-size: 18px;
    padding: 1pc 114px;
    font-weight: 700
}

.sys-body div a span.logonBtn {
    margin-bottom: 30px
}

.sys-body input::-webkit-input-placeholder {
    color: #999!important
}

.sys-body input:-moz-placeholder {
    color: #999!important
}

.sys-body input.formText {
    width: 100%
}

.sys-body .backBtn {
    background: #fff;
    border: 2px solid #000;
    color: #000
}

.sys-body .backBtn:hover {
    color: #000!important
}

.sys-body .submitBtn {
    background: #282828;
    border: 2px solid #282828;
    color: #ddd
}

.sys-body .submitBtn:hover {
    color: #fff
}

.sys-body .confirm_red {
    font-size: 19px;
    font-weight: 700;
    color: red;
    text-align: center;
    line-height: 30px
}

.sys-body .center {
    text-align: center
}

.sys-body .dammyBtn {
    background: #8f0222;
    background: -webkit-linear-gradient(top, #8f0222 4%, #6d0019 100%);
    background: linear-gradient(to bottom, #8f0222 4%, #6d0019 100%);
    -webkit-filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_burgundy_approx', endcolorstr='$color_venetian_red_approx', gradienttype=0);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_burgundy_approx', endcolorstr='$color_venetian_red_approx', gradienttype=0);
    font-size: 18px;
    padding: 11px 0;
    border: none;
    text-align: center;
    width: 250px;
    display: block;
    color: #ddd;
    margin: auto
}

.sys-body .required {
    color: red
}

.sys-body #mail_send_btn {
    margin-bottom: 15px
}

.sys-body .input_boxstyle {
    width: 95%;
    height: 50px;
    font-size: 20px;
    padding: 5px 20px;
    color: #7e7e7e;
    background: #ededed
}

.sys-body .addBtn {
    padding: 5px;
    background: #8f0222;
    background: -webkit-linear-gradient(top, #8f0222 4%, #6d0019 100%);
    background: linear-gradient(to bottom, #8f0222 4%, #6d0019 100%);
    -webkit-filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_burgundy_approx', endcolorstr='$color_venetian_red_approx', gradienttype=0);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_burgundy_approx', endcolorstr='$color_venetian_red_approx', gradienttype=0);
    color: #ddd;
    width: 180px;
    text-align: center
}

.sys-body .p120 {
    padding: 10px 90pt
}

.sys-body #slideshow {
    margin: 0 auto 2em;
    width: 660px;
    text-align: left
}

.sys-body #slideshow div {
    width: 660px;
    height: 495px;
    overflow: hidden;
    position: relative
}

.sys-body #slideshow div div {
    top: 0;
    left: 0;
    position: absolute
}

.sys-body #slideshow ul {
    width: 660px
}

.sys-body #slideshow ul li {
    width: 99pt;
    float: left;
    display: inline
}

.sys-body #slideshow .active {
    filter: alpha(opacity=100)!important;
    opacity: 1!important
}

.sys-body .clear {
    clear: both
}

.sys-body .image_carousel {
    padding: 305px 0 35px 390px
}

.sys-body .image_carousel img {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 9px;
    margin: 7px;
    display: block;
    float: left
}

.sys-body .sideSectionw ul,
.sys-body p.tex14 {
    margin-bottom: 20px
}

.sys-body .wpcf7-textarea {
    width: 90%
}

.sys-body .wpcf7-text {
    width: 60%
}

.sys-body .zip1 {
    width: 60px
}

.sys-body .zip2 {
    width: 75pt
}

.sys-body .formtel {
    width: 75pt;
    height: 1pc
}

.sys-body .addr {
    width: 90%
}

.sys-body .contactformsubmit {
    text-align: center
}

.sys-body .widget_search {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center
}

.sys-body .ie8 #jMenu li ul {
    background: #75171e
}

.sys-body .opacity:hover {
    filter: alpha(opacity=60);
    opacity: .6
}

.sys-body a span.loginBtn2,
.sys-body a span.logonBtn {
    display: block
}

.sys-body .active a {
    background: #262626;
    background: -webkit-linear-gradient(top, #262626 0, #1d1d1d 100%);
    background: linear-gradient(to bottom, #262626 0, #1d1d1d 100%);
    -webkit-filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_shark_approx', endcolorstr='$color_rangoon_green_approx', gradienttype=0);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_shark_approx', endcolorstr='$color_rangoon_green_approx', gradienttype=0);
    color: #ddd!important;
    padding: 5px 10px;
    width: 230px;
    display: block;
    text-align: center
}

.sys-body .active a:hover {
    color: #fff!important;
    text-decoration: none
}

.sys-body .submitBtn2 a {
    background: #282828;
    font-size: 18px;
    line-height: 50px;
    width: 250px;
    border: 2px solid #282828;
    color: #ddd;
    font-weight: 700;
    display: block;
    text-align: center
}

.sys-body .submitBtn2 a:link,
.sys-body .submitBtn2 a:visited {
    color: #ddd
}

.sys-body .submitBtn2 a:hover {
    text-decoration: none;
    color: #fff
}

.sys-body #regist_pankuzu ul li {
    display: inline;
    padding: 10px
}

.sys-body #regist_pankuzu ul li.active {
    background: #262626;
    background: -webkit-linear-gradient(top, #262626 0, #1d1d1d 100%);
    background: linear-gradient(to bottom, #262626 0, #1d1d1d 100%);
    -webkit-filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_shark_approx', endcolorstr='$color_rangoon_green_approx', gradienttype=0);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_shark_approx', endcolorstr='$color_rangoon_green_approx', gradienttype=0);
    color: #fff
}

.sys-body #regist_pankuzu ul li.passive {
    background: #ccc;
    color: #fff
}

.sys-body .wpcf7-form-control wpcf7-text zip {
    width: 30%
}

.sys-body .sideSectionw ul li {
    padding-bottom: 8px;
    padding-left: 15px;
    margin-bottom: 8px;
    background: url(migi1.gif) 0 5px no-repeat;
    border-bottom: 1px dotted #604c3f
}

/*# sourceMappingURL=system.css.map */

.home-button {
  text-align: center;
}


.button-pay {
  /* text styles */
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  
  /* box styles */
  display: inline-block;
  height: 50px;
  padding: 0 50px;
  border: 1px solid;
  border-color: #2d86b6 #24659e #255796;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(1, 4, 8, 0.2);
  
  /* gradients */
  background-color: #52b6ec;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF52B6EC', endColorstr='#FF2E75CE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #52b6ec), color-stop(100%, #2e75ce));
  background-image: -webkit-linear-gradient(top, #52b6ec 0%, #2e75ce 100%);
  background-image: -moz-linear-gradient(top, #52b6ec 0%, #2e75ce 100%);
  background-image: -o-linear-gradient(top, #52b6ec 0%, #2e75ce 100%);
  background-image: linear-gradient(top, #52b6ec 0%, #2e75ce 100%);
    
}
.button-pay:hover {
  text-decoration: none;
  border-color: #377cae #175a9c #0c4893;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(5, 64, 140, 0.2);
  
  background-color: #4fa6e4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4FA6E4', endColorstr='#FF1462C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fa6e4), color-stop(100%, #1462c4));
  background-image: -webkit-linear-gradient(top, #4fa6e4 0%, #1462c4 100%);
  background-image: -moz-linear-gradient(top, #4fa6e4 0%, #1462c4 100%);
  background-image: -o-linear-gradient(top, #4fa6e4 0%, #1462c4 100%);
  background-image: linear-gradient(top, #4fa6e4 0%, #1462c4 100%);
}
.button-pay:active {
  border-color: #094b84 #094b84 #0f4585;
  box-shadow: 0 1px 1px rgba(241, 243, 247, 0.2), 0 0 20px rgba(0, 0, 0, 0.5) inset;
  
  background-color: #1c7ec9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1C7EC9', endColorstr='#FF2395D9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c7ec9), color-stop(100%, #2395d9));
  background-image: -webkit-linear-gradient(top, #1c7ec9 0%, #2395d9 100%);
  background-image: -moz-linear-gradient(top, #1c7ec9 0%, #2395d9 100%);
  background-image: -o-linear-gradient(top, #1c7ec9 0%, #2395d9 100%);
  background-image: linear-gradient(top, #1c7ec9 0%, #2395d9 100%);
}
